/* font for heaading */
@font-face {
    font-family: 'Saridona';
    src: url('assets/Saridona.ttf') format('truetype'); 
}

/* font for batman symbol, used in footer + beginning and end of paragraph */
@font-face {
    font-family: 'batman';
    src: url('assets/batman.ttf') format('truetype'); 
}

body{
    background-image: url(assets/BATMANbyBIMO.png);
    background-size: cover;
    color:#ffff12;

    min-width: 1600px;
    min-height: 800px;
    overflow: hidden;
}

footer{
    position: absolute;
    bottom: 5%;
    right: 9%;
}

footer,
footer>a {
    font-size: 5rem;
    color: #ffff12;
}

.logoAndDescription{
    margin-top: 3%;
    margin-left: 1.5%;
    height: 50%;
    display: flex;
    flex: 1 2;
    gap: 50%;
}

.description {
    position: absolute;
    font-size: 3.25rem;
}

.logoAndDescription h1{
    font-family: 'Saridona';
    font-size: 50rem;
    text-shadow:  10px 100px 20px rgba(255, 255, 18, 0.5);
    position: relative;
    left:45%;

    margin-top: 15px;
    margin-bottom: 7.5%;
}

.batman {
    display: flex;
    flex-direction: row-reverse;

    gap: 28rem;
    margin-right: 9%;
}

.batman>img {
    border: 2px solid #ffff12; 
    scale: 1.5;
}

/* batman logo text, kinda like emoji */
.symbol{
    font-family: 'batman';
}

/* bold text */
b{
    font-size: larger;
}

.bimologo{
    width:10%;
    border:none;
    position:absolute;
    bottom:0;
}